/**
main button styles
**/
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: tomato;
  border: none;
  color: white;
  outline: none;
}

/**
table styles
**/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

table th {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table td {
  border: 1px solid #ddd;
  padding: 12px;
}
